{%load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'report.css' %}">


</head>
<body>
    <h1>SPORTSVIEW HOTEL</h1>
    <h1>{{title}}</h1>
    <div class="content">
    <table border="1">
    <thead>
        <tr style="font-weight:bold; color:#004c2b; font-size:1.3em;">
            <td>Serial number</td>
            <td>First name</td>
            <td>Second name</td>
            <td>Phone number</td>
            <td>Amount</td>

        </tr>
        </thead>

        <tbody>
            
            {% for payment in query %}
            <tr style="font-weight:bold; font-size:1.1em;">
            <td>{{payment.id}}</td>
            <td>{{payment.first_name}}</td>
            <td>{{payment.second_name}}</td>
            <td>{{payment.phone_number}}</td>
            <td>{{payment.amount}}</td>
             </tr>
             {% endfor %}
           
        </tbody>
</table>
</div>
<br>
<button onclick="display()">Generate report</button>
<script>
    function display(){
        window.print();
    }

    const row = query.filter(item => {
        item.first_name === "John"
    }
    )
    console.log(row)
</script>

<a href="http://127.0.0.1:8000/room_add/">Go Back</a>
</body>
</html>
