form{
    margin-top: 5%;
    justify-content: center;
    color: chocolate;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bookings{
	border:30px solid lightgray;
    border-width: 2.6px;
    border-radius:8px;
    text-align: center;
    width:70%;
    height: 80%;
    justify-content: space-between;
    object-fit: cover;
    object-position: center;
}

form .login{
    align-items: center;
    text-align: center;
    max-width: 500px;
    margin:2rem auto;
    border: 2px solid grey;
    transform: translate(-50%, -50%);
    width: 400px;
    background:white;
    border-radius: 10px;
}
.info h3{
   padding-left:50%;
}

input{
    flex-direction: right;
    background-color: aliceblue;
    margin-left: 5.7%;
}

button{
    font-weight: bold;
    font-size: 450;
    background-color:yellowgreen ;
    border-radius: 7px;

}

button:hover{
    cursor: pointer;
    background-color: beige;
}

.home a{
    text-align: center;
}

a{
text-decoration: none;
justify-self: space-between;
}

a:hover{
color: mediumorchid;
}

form h1{
    margin-left: 10%;
}