*{
    text-align: center;
    background-color: whitesmoke;
}
.content{
    align-content: center;
    margin-left: 30%;
}
h1{
    color: #004c2b;
}

button{
background-color:yellowgreen ;
font-weight: bold;
}
button:hover{
background-color:aquamarine;
cursor:pointer;
}

a{
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: grey;
}